[submodule "assemblyline-base"]
	path = assemblyline-base
	url = https://github.com/CybercentreCanada/assemblyline-base.git
	branch = .
[submodule "assemblyline-core"]
	path = assemblyline-core
	url = https://github.com/CybercentreCanada/assemblyline-core.git
	branch = .
[submodule "assemblyline-ui"]
	path = assemblyline-ui
	url = https://github.com/CybercentreCanada/assemblyline-ui.git
	branch = .
[submodule "assemblyline-v4-service"]
	path = assemblyline-v4-service
	url = https://github.com/CybercentreCanada/assemblyline-v4-service.git
	branch = .
[submodule "assemblyline-service-client"]
	path = assemblyline-service-client
	url = https://github.com/CybercentreCanada/assemblyline-service-client.git
	branch = .
[submodule "assemblyline-ui-frontend"]
	path = assemblyline-ui-frontend
	url = https://github.com/CybercentreCanada/assemblyline-ui-frontend.git
	branch = .
