auth:
  ldap:
    enabled: true
    uri: ldap://openldap:389
    uid_field: "cn"
    bind_user: cn=admin,dc=assemblyline,dc=local
    bind_pass: admin
core:
  alerter:
    delay: 0
  metrics:
    apm_server:
      server_url: null
    elasticsearch:
      hosts: ["http://elastic:devpass@localhost:9200"]
    redis:
      host: localhost
      port: 6379
  redis:
    nonpersistent:
      host: localhost
      port: 6379
    persistent:
      host: localhost
      port: 6379

datastore:
  archive:
    enabled: true

filestore:
  cache: ["s3://al_storage_key:Ch@ngeTh!sPa33w0rd@localhost:9000?s3_bucket=al-cache&use_ssl=False"]
  storage: ["s3://al_storage_key:Ch@ngeTh!sPa33w0rd@localhost:9000?s3_bucket=al-storage&use_ssl=False"]
  archive: ["s3://al_storage_key:Ch@ngeTh!sPa33w0rd@localhost:9000?s3_bucket=al-archive&use_ssl=False"]

logging:
  log_level: INFO
  log_as_json: false
  log_to_console: true
  log_to_file: false
  log_to_syslog: false

submission:
  metadata:
    ingest:
      _default:
        test:
          validator_type: keyword
          required: true
      strict_ingest:
        test:
          validator_type: keyword
    strict_schemes:
      - strict_ingest
  profiles:
    # Profile that will enforce metadata validation
    - name: "static"
      display_name: "Static Analysis"
      params:
        type: strict_ingest
        services:
          excluded: ["Dynamic Analysis"]
      restricted_params:
        submission: ["ignore_recursion_prevention"]
ui:
  debug: true
  enforce_quota: false
